:root{
    --primary-color: #1F2937;
    --secondary-color: #ffff;
    --accent-color: #f50b0b;
    --background-color: #6c717c;
}

body{
    margin: auto 0;
    font-family:"Black Ops One";
    max-width: 800px;
}

